a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}


body{
    margin: 0;
    padding: 0;
}
.section{
    margin: 0;!important;
    padding: 0;!important;
}
/*第一模块*/
.headerBgi{
    width: 100%;
    height: 468px;
    background-image: url(../image/collectArt/wyart1.jpg);
}
#headerBgi{
    background-repeat: no-repeat;
    position: relative;
}
.divBlock{
    position: absolute;
    bottom: 50px;
    left: 40px;
}
.line{
    height: 5px;
    width: 80px;
    background-color: #000000;
    display: block;
}
.divBlock > p{
    font-size: 30px;
    color: #000000;
    font-weight: bolder;
    margin-top: 15px;
}
.divBlock > p > span{

    font-size: 24px;
    color: #000000;
    font-weight: bolder;
}
/*按钮*/
.divA{
    position: absolute;
    bottom: 70px;
    right: 100px;
}
.divA > a{
    padding: 15px 20px;
    font-size: 24px;
    color: #000000;
    background-color: #fff;
    border-radius: 6px;
}
.divA > a > span{
    font-size: 18px;
}
.divA > a:hover{
    color: #ffffff;
    background-color: #cf660a;
    text-decoration: none;
    -moz-box-shadow:1px 3px 15px #555;
    -webkit-box-shadow:1px 3px 15px #555;
    box-shadow:1px 3px 15px #555;
}

/*第二模块*/
.divBgi1{
    background-image: url(../image/collectArt/wyart2.jpg);
    /*background-repeat: no-repeat;*/
    -webkit-background-size: 100%;
    background-size: 100%;
}
.divBgi2{
    background-image: url(../image/collectArt/wyart3.jpg);
    /*background-repeat: no-repeat;*/
    -webkit-background-size: 100%;
    background-size: 100%;
}
.divBgi3{
    background-image: url(../image/collectArt/wyart4.jpg);
    /*background-repeat: no-repeat;*/
    -webkit-background-size: 100%;
    background-size: 100%;
}
.divBgi{
    height: 300px;
    color: white;
    overflow: hidden;
}
.divBgi > div{
    padding: 30px 40px;
}
.line1{
    height: 4px;
    width: 80px;
    background-color: white;
    display: block;
    margin-bottom: 15px;
}
.divBgi p{
    font-size: 24px;
}
.divBgi p > span{
    font-size: 20px;
}


/*第三,四模块(section)*/
.nav{
    padding-top: 25px;
}
.nav a{
    color: inherit;
    text-decoration: none;
    font-size: 14px;
}
.h-margin{
    margin: 60px 0 40px;
    font-size: 30px;
    font-weight: bolder;
}
.divImg{
    width: 100%;
    text-align: center;
    margin: auto auto
}
.divImg > a > img{
    width: 100%;
    box-shadow: 2px 2px 20px 0 rgba(0,0,0,0.5);
    transition:all 0.5s;
}
.divImg > p{
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0 ;
}
.divImg > p > span{
    font-size: 14px;
    font-weight: 400;
}
.aImg:hover{
    transform:scale(1.1);
    transition:all 0.5s;
}

/*第五模块*/
/* .accordion */
.accordion {
    height: 600px;
    overflow: hidden;
    position: relative;
}

.accordion:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
}

.accordion._create:after {
    display: none;
}

.accordion__ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 9999px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.accordion__li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 600px;
    float: left;
    overflow: hidden;
    box-shadow: 0 0 10px 0 #000;
    transition: all 0.3s ease-out;
}

.accordion__img {
    display: block;
    cursor: pointer;
}

/* /.accordion */



* {
    margin: 0;
    padding: 0;
}


.Ai{
    width: 50px;
    height: 50px;
    background-color: #757575;
    border-radius: 25px;
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: white;
    margin: 10px auto;
}



/*第六模块*/
.divImage{
    width: 25%;
    height: 350px;
    background-position:top center;
    background-size: cover;
    float: left;
}
.divImage1{
    width: 100%;
    height: 350px;
    background-position:center center;
    background-size: cover;
    float: left;
}
.image1{
    background-image: url(../image/collectArt/1ren.jpg);
}
.image2{
    background-image: url(../image/collectArt/2ren.jpg);
}
.image3{
    background-image: url(../image/collectArt/3ren.jpg);
}
.image4{
    background-image: url(../image/collectArt/4ren.jpg);
}
.image5{
    background-image: url(../image/collectArt/damIndex.png);
}
.divImage1 > p{
    font-size: 30px;
    margin-top: 28px;
    color: white;
}
.divImage1 span{
    color: white;
}
.divImage1 > p:last-child{
    font-size: 12px;
}

/*第七模块*/
.bgc{
    background-color: #f4f5f8;
}
.bgc > div > img{
    width: 80%;
}










