body, ul, li {
    user-select: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a:link {
    text-decoration: none;
    /*color: #2aabd2;*/
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#artListDrop {
    height: 34px;
    border-radius: 3px 0 0 3px;
    margin-top: 10px;
    border: 0;
    cursor: pointer;
}

.nav-search {
    margin-top: 10px;

}

.nav-search > input {
    border-radius: 0 2px 2px 0;
    border-left: 0;
    border: 0;
}

.nav-go {
    border: 1px solid rgba(128, 128, 128, 0.38);
    height: 34px;
}

.nav-go :hover {
    background-color: #17030b !important;
    color: #ff2384 !important;
}

.nav-right {
    font-size: 16px;
    margin-top: 15px;
    text-align: right;
    cursor: pointer;
}

.nav-right a {
    color: black;
}

.nav-left {
    margin-top: -5px;
}

.header {
    background-color: #070707;
    /*border-bottom: 1px solid rgb(209, 209, 209);*/
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1;
    height: 45px;
    /*overflow: hidden;*/
}

.header ul {
    /*overflow: hidden;*/
    width: 700px;
    margin: 0 auto;
    height: 40px;
}

.header ul li {
    list-style: none;
    color: white;
    float: left;
    font-size: 16px;
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 9px;
    text-align: center;
}

.floatDiv {
    height: 5px;
    background-color: #000000;
    /*padding-bottom: 2px;*/
    width: 450px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.floatDiv > div {
    height: 5px;
    transition: all 0.5s;
    z-index: 10;
    /*background-color: #fff;*/
    margin: 0 auto;
}

.floatDiv > div > div {
    width: 20%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    /*margin-top: -50px;*/
    margin-left: -2%;
}

.mylogoTrans :hover {
    transform: rotateY(360deg);
    transition: all 2s;
}

.nav-load:hover {
    transform: translate3d(20, 20, 20px);
    transition: all 1s;
}

/*底部*/
footer {
    height: 500px;
    background-color: rgb(4, 4, 4);
    color: white;
    padding: 50px 100px 50px !important;
}

.foot-1 {
    height: 50px;
    font-size: 16px;
}

.foot-1 span {
    margin: 0 10px;
}

.foot-1 span:nth-child(1) {
    font-size: 20px;
}

.downLoad-apple {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.2s;
}

.downLoad-apple:hover {
    box-shadow: 0 1px 10px #ffffff;
    transition: all 0.2s;
}

.downLoad-apple > div:nth-child(1) {
    float: left;
    height: 50px;
    width: 60px;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
}

.downLoad-apple > div:nth-child(2),
.downLoad-apple > div:nth-child(3) {
    float: left;
    height: 25px;
    width: 135px;
}

.downLoad-android {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.2s;
}

.downLoad-android:hover {
    box-shadow: 0 1px 10px #ffffff;
    transition: all 0.2s;
}

.downLoad-android > div:nth-child(2) {
    float: left;
    height: 50px;
    width: 135px;
    margin-top: 12px;
}

.downLoad-android > div:nth-child(1) {
    float: left;
    height: 50px;
    width: 60px;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
}

.foot-2 {
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.38);*/
    padding: 0 15px;
    margin-top: 10px;
}

.foot-3 {
    padding: 0 15px;
}

.foot-3 span a {
    color: rgba(255, 255, 255, 0.22);
}

.foot-h5 h5 {
    margin-top: 15px;

}

.foot-h5 {
    height: 300px;
}

.nav-ul a {
    color: rgba(24, 3, 11, 0.73);
}

#nav-ul a {
    color: whitesmoke;
}

.nav-ul li {
    list-style: none;
    color: #18030b;
    float: left;
    font-size: 16px;
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 9px;
}

.myNav {
    height: 50px;
    overflow: hidden;
    position: fixed;
    background-color: #ffffff;
    padding: 0 50px;
    /*overflow: hidden;*/
    z-index: 99;

}

#nav-ul {
    width: 450px;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    height: 45px;
    margin: 0 auto 0;
}

.nav-ul > li:first-child a {
    color: black;

}

.nav-ul {
    width: 450px;
    height: 50px;
    margin: 13px auto 0;
}

#loadHeader {
    height: 95px;
}

.topCar {
    display: inline-block;
    line-height: 26px;
    position: relative
}
.topCarNum{
    display: none;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: absolute;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
    top: -4px;
    right: -14px;
    color: white;
    background-color: rgba(228, 112, 35, 0.76);
}

#getUserId{
    height: 0;
    width: 0;
}