html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*user-select: none;*/
}

a:link,
a:visited,
a:hover,
a:active
{
    text-decoration: none;
}

main {
    background-image: url("../image/index/诞生.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginWins {
    /*border-radius: 10px;*/
    width: 350px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.98);
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -175px;
    top: 50%;
    margin-top: -12.5%;
    padding: 30px;
}

.loginFont {
    height: 8%;
    position: absolute;
    left: 50%;
    margin-left: -80px;
    top: 18%;
    text-align: center;
}

.loginFont div {
    width: 160px;
}

.loginFont span {
    font-size: 16px !important;
}

.loginFont i,
.loginFont span {
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 200%;
    font-size: 10px;
}

.login-logo {
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 12%;
}

.login-top {
    text-align: right;
    position: absolute;
    right: 10px;
    top: 10px;

}

.login-top a {
    cursor: pointer;
}

.login-top a:hover {
    transform: rotate(180deg);
    transition: all 1s;
}

.chooseLogin {
    /*background-color: #36949a;*/
    height: 10%;
    border-bottom: 2px solid rgba(123, 123, 123, 0.41);
    margin-top: 10%;
}

.chooseLogin div {
    width: 49.9%;
    float: left;
    height: 100%;
    cursor: pointer;
}

.chooseLogin > div:last-child,
.chooseLogin > div:first-child {
    text-align: center;
    /*line-height: 55px;*/
    font-size: 14px;
    font-weight: bolder;
    color: #18030b;
    height: 16px;
}

.chooseLogin > div:last-child {
    font-weight: normal;
}

.accountLoad {
    /*border-bottom: 3px solid #2a2a2a;*/
}

.placeHold,
.placeHold2 {
    color: gainsboro;
    height: 10%;
    position: relative;

}

.gotoSet {
    cursor: pointer;
}

.placeHold2 p,
.placeHold p {
    position: absolute;
    bottom: -25px;
    z-index: 5;
    transition: all 0.5s;
    font-size: 15px;
}

input[name='account'] {
    z-index: 10;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(123, 123, 123, 0.42);
    outline: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
}

.accountInputRoom {
    position: relative;
    height: 22px;
}

.pswInputRoom {
    position: relative;
    height: 22px;
}

input[name='password'] {
    float: top;
    position: absolute;
    z-index: 10;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(123, 123, 123, 0.42);
    outline: none;
}

.forgetPSW {
    text-align: right;
    height: 10%;
    margin-top: 20px;
}

.remindSet {
    margin-top: 7px;
    text-align: center;
}

.otherChoose span:first-child {
    border-top: 1px solid rgba(123, 123, 123, 0.28);
    width: 40%;
    display: inline-block;
}

.otherChoose > span:nth-child(2) {
    width: 15%;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    color: rgba(176, 176, 176, 0.52);
    line-height: 50px;
}

.otherChoose > span:last-child {
    border-top: 1px solid rgba(123, 123, 123, 0.28);
    width: 40%;
    display: inline-block;
}

.loginIcon {
    /*width: 55%;*/
    margin: -5px auto;
    font-size: 14px;
    height: 50px;
    color: #4f4f4f;
}

.loginIcon > div > div {
    height: 35px;
    display: inline-block;
    border: 1px solid #4f4f4f;
    border-radius: 50%;
    width: 35px;
    text-align: center;

}

.loginIcon i {
    line-height: 35px;
    cursor: pointer;
}

/*特效部分*/
.line2,
.line {
    height: 2px;
    background-color: #d97946;
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    bottom: 0;
    margin: 0 auto;
    transition: all 0.5s;
}

/*注册*/
.setAccount {
    margin-top: 50px;
    color: #898989;
    position: relative;
    height: 100px;
}

.setAccount p {
    /*position: absolute;*/
    line-height: 28px;
    position: absolute;
    top: 0;
    z-index: 1;
}

input[name='setAccount'] {
    border: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.4);
    outline: none;
    height: 28px;
    z-index: 2;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
}

.setPassword {
    position: relative;
    clear: both;
    height: 100px;
    color: #898989;

}

.setPassword p {
    /*position: absolute;*/
    line-height: 28px;
    position: absolute;
    top: 0;
    z-index: 1;
}

input[name='setPassword'] {
    border: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.4);
    outline: none;
    height: 28px;
    z-index: 2;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
}

.setLine2,
.setLine {
    height: 3px;
    background-color: #ff9272;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    width: 0;
    z-index: 3;
}

.slideTestRow {
    padding: 0 19px;
    margin-top: 20px;
    /*background-color: #ff7cf1;*/
    height: 35px;
    user-select: none;

}

.slideTest {
    height: 35px;
    width:35px;
    background-color: rgba(201, 201, 201, 0.73);
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    line-height: 35px;
    color: #7a98f7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

.slideTestRoom {
    /*background-color: #60b2ff;*/
    height: 35px;
    position: relative;
    text-align: center;
    line-height: 35px;
    outline: 1px solid rgba(217, 217, 217, 0.82);
    margin-top: 10px;

}

.floatSlide {
    float: left;
}
.slideSpan{
    color: #7182d6;
    position: relative;
    user-select: none;

}
.slideSpan >span{
    height: 100%;
    width: 34px;
    background: radial-gradient(#ffffff, rgba(255, 255, 255, 0.66), rgba(255, 255, 255, 0.54));
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: -50px;
    animation: mymove  linear infinite 3.5s ;
    user-select: none;
    transform: scale(1.2);
}
@keyframes mymove {
    70%{
        left: -50px;
    }
    100%{
        left: 110%;
    }
}

#CodeLoginBtn{
    outline: none;
}
.phoneLoginCode{
    outline: none;
}
.slideLeftWidth{
    position: absolute;
    left: 0;
    /*width: 0;*/
    background-color: #ff1c65;
    z-index: 5;
    height: 100%;
}

.forgetPSWview{
    position: absolute;
    height: 100%;
    width: 100%;
    /*background-color: rgba(249, 249, 249, 0.73);*/
    z-index: 15;
}
.forgetPswFirstView{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    left: 50%;
    margin-left: -150px;
    top:50%;
    margin-top: -200px;
    padding: 10px;
}
.closeFWSW{
    width: 100%;
    overflow: hidden;
}
.closeFWSW>div{
    float: right;
}
#resetPSW{
    background-color: rgba(255, 255, 255, 0.01);
}
